@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; 
  scroll-behavior: smooth;

  a {
    text-decoration: none;
    color: white;
  }

  footer {
    padding: 0.4em;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 7;
    bottom: 0;
    cursor: pointer;
  }
}

$primary: rgb(44, 108, 180);

.button {
  padding: 1rem;
  border: solid 2px white;
  background: transparent;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background: $primary;
    border: solid 2px $primary;
  }
}

.navbar {
  height: 75px;
  z-index: 5;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  background: rgba(44, 108, 180, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;

  .navbar-logo {
    display: flex;
    align-items: center;

    img {
      height: 5rem;
    }
  }

  .nav-links {
    display: flex;

    li {
      padding: 0.5em;
      list-style-type: none;

      a {
        font-size: 1.6rem;
        font-weight: 300;
      }
    }
  }

  svg {
    padding: 0.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    display: none;
  }
}

div#home {
  min-height: 100vh;
  height: 35em;
  margin: 0;
  position: relative;

  div.flex-contain {
    color: white;

    div.title-cont {
      max-width: 70vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 5rem;
        font-weight: 800;
        margin-block-start: 0;
        margin-block-end: 0;
        text-transform: uppercase;
      }

      p {
        font-size: 2.1rem;
      }

      .button-cont {
        * {
          margin: 0.3em;
        }
      }
    }
  }

  .landing {
    height: 100%;
    background-image: url("./../assets/pastor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(65%);
    position: relative;
  }
}

div#services {
  background: white;
  width: 100%;

  div.container {
    padding: 3em 0;
    text-align: center;

    h1 {
      font-size: 3.5rem;
      padding: 1em 0 0 0;
      font-weight: 700;
      margin-block-start: 0;
      margin-block-end: 0;
      color: $primary;
    }
  }
}

div#ministries {
  h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2.5em 0 0 0;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
  }

  .ministry-cards {
    padding: 0 0 3em 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-right: 1em;

    h1 {
      padding: 0;
    }

    &::-webkit-scrollbar {
      height: 5px;
      width: 5px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb:horizontal {
      background: $primary;
      border-radius: 5px;
    }

    .card {
      margin: 2.5em 1em;
      flex: 0 0 auto;
      height: 375px;
      max-width: 14em !important;
      padding: 0 !important;
      overflow: hidden;
      background: white;
      border-radius: 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      div.img-cont {
        padding: 0;
        height: 150px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover !important;
        }
      }

      div {
        padding: 1rem;
        flex: 2;
      }

      h1 {
        color: black !important;
        font-size: 2rem !important;
      }

      p {
        font-size: 1.3rem;
      }

      .button {
        border: 2px solid transparent;
        color: $primary;
        margin-bottom: 1rem;

        &:hover {
          color: white;
          border: 2px solid $primary;
          background: $primary;
        }
      }
    }
  }
}

div#location {
  background: white;
  width: 100%;
  padding-bottom: 8rem;

  h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2.5em 0 0 0;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    color: $primary;
  }

  .flex-full {
    max-width: 700px;
    margin: 0 auto;
  }
}

.container {
  margin: 0 20% auto;
}

.flex-full {
  width: 100% !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  * {
    flex: 1 1 300px;
  }
}

.flex-contain {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 300px;
  padding: 1em !important;
  text-align: left;

  h1 {
    font-size: 2.3rem !important;
    font-weight: 600 !important;
  }

  h3 {
    font-weight: 500;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }
}

.footerBtn {
  cursor: pointer;
  height: 2em;
  width: 2em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;

  i {
    font-size: 1.6rem;
  }

  svg {
    cursor: pointer;
  }
}

div#contact {
  width: 100%;
  background: transparent;
  color: white !important;
  padding-bottom: 4rem;

  div#fixed-bg {
    background-image: url("./../assets/contact.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    filter: grayscale(100%) brightness(12%);
  }

  div#contact-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;

    h2 {
      font-size: 4rem;
    }

    h2,
    p {
      font-weight: 300;
    }

    form {
      min-width: 300px;
      color: white;

      input,
      textarea {
        color: #ccc !important;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background: transparent;
      }

      textarea {
        resize: none;
      }

      label {
        font-weight: 300 !important;
      }

      button {
        &:hover {
          background: white;
          border: 2px solid white;
          color: black !important;
        }
      }
    }
  }

  h1 {
    color: white !important;
    text-align: center;
    font-size: 3.5rem;
    padding: 2.5em 0 0 0;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    color: $primary;
  }
}

div#footer {
  height: 100px;
  background: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div#logo-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      height: 50px;
    }

    small {
      color: white;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    ul#nav-links {
      display: none !important;
    }

    svg {
      display: block;
    }
  }

  div#home {
    min-height: 100vh;
    height: 35em;
    margin: 0;
    position: relative;
  
    div.flex-contain {
      color: white;
  
      div.title-cont {
        max-width: 70vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
  
        h1 {
          font-size: 3rem;
          font-weight: 800;
          margin-block-start: 0;
          margin-block-end: 0;
          text-transform: uppercase;
        }
  
        p {
          font-size: 1.5rem;
          padding: 1rem;
        }
  
        .button-cont {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 1rem 0;

          a {
            font-size: 1.2rem;
            margin: 0.3em;
          }
        }
      }
    }

    .landing {
      height: 100%;
      background-image: url("./../assets/pastor.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      filter: brightness(65%);
      position: relative;
    }
  }

  div#footer {
    small {
      font-size: .8rem;
    }
  }
}

.blockquote {
  width: 100%;
  background: $primary;
  
  .blockquote-text {
    color: white;
    font-size: 6rem;
    padding: 8rem;
    margin: 0 !important;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
  }
}